#projects {
    padding: 50px 0;
}

#projects .container {
    max-width: 1200px;
    margin: 0 auto;
}

#projects h2 {
    text-align: center;
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 40px;
}
.movie{
        background-image: linear-gradient(63deg, #df35d7, #f7ce68 36%, #85ffbd);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        display: inline-block;
        margin-top: -50px;
        font-size: 20px;
    }

.project-card {
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 80px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.project-image {
    flex: 1;
    max-width: 50%;
   
}

.project-image img {
    width: 500px;
    height:200px;
    border: 5px solid;
    border-image: linear-gradient(to right, #2193b0, #6dd5ed) 1;
    background-color: #2a3e52; 
    color: #ffffff; 
    border-radius: 10px;
    border: 25px solid transparent;
    padding: 5px;
}

.project-info {
    flex: 2;
    padding: 20px;
    color: #fff;
}

.project-info h3 {
    font-size: 1.8em;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-info p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.tech-stack span {
    background: #222;
    color: #fff;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 0.9em;
}

.project-links a {
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 5px;
   color: #000;
}
.github-icon{
    height:50px;
    width: 50px;
    margin-top: 20px;
    column-gap: 10px;
}
.github-icon1{
    height:40px;
    width: 40px;
    margin-bottom:5px;
   
}

/* --------------------------------second project---------------------------------- */
.project-card1 {
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;
    padding: 20px;
    margin-bottom: 80px;
}
.project-image1 {
    flex: 1;
    max-width: 50%;
   
}

.project-image1 img {
    width: 500px;
    height:200px;
    border: 5px solid;
    background-color: #811147; 
    color: #ffffff; 
    border-radius: 10px;
    border: 25px solid transparent;
    padding: 5px;
}
.project-info1{
    flex: 2;
    padding: 20px;
    color: #fff;
}

.project-info1 h3 {
    font-size: 1.8em;
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project-info1 p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* ---------------------------------------------third project--------------------------------- */

.project-image2 {
    flex: 1;
    max-width: 50%;
   
}
.project-image2 img {
    width: 500px;
    height:200px;
    border: 5px solid;
    background-color: #c35323; 
    color: #ffffff; 
    border-radius: 10px;
    border: 25px solid transparent;
    padding: 5px;
}

/* ------------------------fourth project----------------------------------- */

.project-image3 {
    flex: 1;
    max-width: 50%;
   
}
.project-image3 img {
    width: 500px;
    height:200px;
    border: 5px solid;
    background-color: #26918a; 
    color: #ffffff; 
    border-radius: 10px;
    border: 25px solid transparent;
    padding: 5px;
}

.see-more-container {
    text-align: center;
    margin-top: 20px;
}

.see-more-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}